
<main class="mt-12 mx-[10%]">

    <h1 class="text-[30px] mb-4 text-center font-bold">FAQs</h1>


    <details class="border-2 py-2 px-4 border-[#F8C8DC] shadow-sm shadow-[#F8C8DC] mb-8">
        <summary>What is the pricing for Delivery?</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa earum blanditiis eveniet distinctio architecto expedita. Laborum necessitatibus, maiores minima quo corporis explicabo quos odit.</p>
    </details>


    <details class="border-2 py-2 px-4 border-[#F8C8DC] shadow-sm shadow-[#F8C8DC] mb-8">
        <summary>What are advantages of becoming a member?</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla expedita doloremque voluptate sit dolor porro iure ea voluptatum reiciendis quas rem eveniet veniam, unde veritatis dolores sint possimus commodi quod magnam. Ipsa amet culpa, qui doloribus atque id? Quia perspiciatis eum veniam eius, similique voluptatibus accusantium totam eveniet maiores.</p>
    </details>


    <details class="border-2 py-2 px-4 border-[#F8C8DC] shadow-sm shadow-[#F8C8DC] mb-8">
        <summary>How often does promotion happen?</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo enim illum provident neque quas eveniet dolore vero quibusdam itaque fugit minima, eligendi assumenda quis ab delectus odit dignissimos aliquam?</p>
    </details>


    <details class="border-2 py-2 px-4 border-[#F8C8DC] shadow-sm shadow-[#F8C8DC] mb-8">
        <summary>What is you privacy policy?</summary>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sunt fuga, eaque, fugit accusamus repellendus facere totam illo assumenda minima quia quod repellat natus facilis eum cupiditate deserunt! Eius ipsa quia maiores tenetur mollitia corrupti.</p>
    </details>

</main>
