<main class="flex justify-between gap-12 mx-[10%] mt-20 items-center">

    <section class="w-[40rem]">
        <img src="https://images.pexels.com/photos/871494/pexels-photo-871494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </section>

    <section class="w-[35rem]">
        <h1 class="mb-4 font-bold text-[30px]">About us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime iste, commodi odio in distinctio cupiditate quam porro autem veniam sapiente nostrum ipsa quidem esse amet temporibus? Similique iste sint rerum suscipit atque illo, vitae quo.</p>

        <p class="mt-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto tenetur deleniti temporibus dolorem fuga aliquam.</p>

        <p class="mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, sint ipsum? Soluta nulla a unde blanditiis, quidem ullam facere. Adipisci!</p>
    </section>

</main>