
<aside class="w-[180px] sticky top-16" id="shopMenu">

    <main class="mb-16">
        <div class="bg-[#F8C8DC] py-2 text-center mb-4"><h3>Shop By Category</h3></div>

        <ul>
            <li><button (click)="selectCategory('bestSeller')">Best Seller</button></li>
            <li><button (click)="selectCategory('swimwear')">Swim Wear</button></li>
            <li><button (click)="selectCategory('dresses')">Dresses</button></li>
            <li><button (click)="selectCategory('tops')">Tops</button></li>
            <li><button (click)="selectCategory('shoes')">Shoes</button></li>
            <li><button (click)="selectCategory('bags')">Bags</button></li>
            <li><button (click)="selectCategory('jewelry')">Jewelry</button></li>
            <li><button (click)="selectCategory('bottoms')">Bottoms</button></li>
            <li><button (click)="selectCategory('')" class="border-2 border-[#F8C8DC] py-[2px] px-[5px] rounded-md hover:bg-[#F8C8DC] mt-4">Clear</button></li>
        </ul>
        
    </main>


    <div>
        <ul>
            <li><a href=""><i class="fa-brands fa-instagram w-4 h-4 bg-[#F8C8DC] p-[5px] rounded-[50%] hover:opacity-70"></i></a></li>

            <li><a href=""><i class="fa-brands fa-facebook-f w-4 h-4 bg-[#F8C8DC] p-[5px] rounded-[50%] hover:opacity-70"></i></a></li>

            <li><a href=""><i class="fa-brands fa-twitter w-4 h-4 bg-[#F8C8DC] p-[5px] rounded-[50%] hover:opacity-70"></i></a></li>
            
            <li class="h-28 w-[2px] bg-[#F8C8DC] ml-3"></li>
        </ul>
        
        
        
        <a href=""></a>
        <a href=""></a>
        
    </div>

</aside>
