<div class="border-b-[#F8C8DC] border-b-4 mb-8">
    
    <div class="h-[84vh] bg-white overflow-hidden">
    
        <div class="z-10 absolute top-[45%] right-[20rem]">
            <h1 class="text-[40px] mb-8">ShyRain's Fashion</h1>
            <p class="w-[400px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corrupti!</p>
        </div>
        
        <img class="w-full relative" src="https://i.pinimg.com/originals/33/20/a6/3320a6dc54265cbf42fdaf0a169320ca.jpg">    
    </div>
</div>





<main class="flex gap-8 mx-8">

    <app-side-nav></app-side-nav>

    <div class="w-full">

        <!-- --------------------Hot-------------------- -->

        <!-- carousel -->
        <div class="carousel">
            <div class="innerCarousel">

                
                <input class="openCarousel" type="radio" id="carousel1" name='carousel' aria-hidden="true" hidden="" checked="checked">
                <div class="carouselItem">
        
        
                    <section class=" gap-12 grid grid-cols-4 mb-8">
            
                        <div class="relative bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/71Fbu1g31rL._AC_SY535._SX._UX._SY._UY_.jpg">
                    
                            <div class="text-sm text-center">
                                <p>Open Toe High Stilettos</p>
                                <div class="flex justify-between w-1/2 mx-auto">
                                    <p>16.99</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/71IJq-f9BUL._AC_UX569_.jpg">
                    
                            <div class="text-sm">
                                <p>Long Sleeve Button Down</p>
                                <div class="flex justify-between w-1/2 mx-auto">
                                    
                                    <p>23.99</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/61gdCkFSxpL._AC_UY741_.jpg">
                    
                            <div class="text-sm">
                                <p>Two Piece Swimsuits</p>
                                <div class="flex justify-between w-1/2 mx-auto">
                                    <p>$20.99</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>

                                </div>
                            </div>
                        </div>

                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/611Of1Gc+9L._AC_SY741._SX._UX._SY._UY_.jpg">
                    
                            <div class="text-sm">
                                <p>Lantern Mini Dress</p>
                                <div class="flex justify-between w-1/2 mx-auto">
                                    <p>$37.99</p>

                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                    </section>
                </div>
        
        
        






        
        
        
        
                <input class="openCarousel" type="radio" id="carousel2" name="carousel" aria-hidden="true" hidden="">
        
                <div class="carouselItem">
                    <section class=" gap-12 grid grid-cols-4 mb-8">
            
                        <div class="relative bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/714BWOnwhZS._AC_UY695_.jpg">
                    
                            <div class="text-sm">
                                <p>Flower Heart Illusion Necklace</p>
                                <div class="flex justify-between w-1/2 mx-auto">

                                    <p>$48.00</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/81SulH3ce5L._AC_UX535_.jpg">
                    
                            <div class="text-sm">
                                <p>Crossbody Bag Purse</p>
                                <div class="flex justify-between w-1/2 mx-auto">
                                    
                                    <p>20.72</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/81yom4ps+7L._AC_UX679_.jpg">
                    
                            <div class="text-sm">
                                <p>7.99</p>
                                <div class="flex justify-between w-1/2 mx-auto">

                                    <p>$23.99</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/71NNW5URipL._AC_UX569_.jpg">
                    
                            <div class="text-sm">
                                <p>Twill Chino Pant</p>
                                <div class="flex justify-between w-1/2 mx-auto">

                                    <p>13.28</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                    </section>
                </div>











        
                <input class="openCarousel" type="radio" id="carousel3" name="carousel" aria-hidden="true" hidden="">
                <div class="carouselItem">
                    
        
        
                    <section class=" gap-12 grid grid-cols-4 mb-8">
            
                        <div class="relative bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/61e0BTISUIL._AC_UX679_.jpg">
                    
                            <p>Polka Dot Pleated Skirt</p>
                            
                            <div class="flex justify-between w-1/2 mx-auto">
                                
                                <p>30.89</p>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                      </svg>
                                </button>
                            </div>

                        </div>


                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/815yaQjFjWL._AC_UY535_.jpg">
                    
                            <div class="text-sm">
                                <p>Two Tone Satchel Bags</p>
                                
                                <div class="flex justify-between w-1/2 mx-auto">
    
                                    <p>$49.99</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>    
                            </div>   
                        </div>


                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/61qDbP8iniL._AC_UY535_.jpg">
                    
                            <div class="text-sm">
                                <p>Canvas Sneakers</p>
                                
                                <div class="flex justify-between w-1/2 mx-auto">
                                    
                                    <p>$21.99</p>
                                
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                    
                        <div class="bg-white p-4">
                            <p class="bg-red-600 w-12 p-[2px] rounded-md text-center absolute text-white">Hot!</p>
                    
                            <img class="h-[150px] m-auto" src="https://m.media-amazon.com/images/I/91tFCHrU6zL._AC_UY500_.jpg">
                    
                            <div class="text-sm">
                                <p>Floral Dial Strap Watch</p>
                                
                                <div class="flex justify-between w-1/2 mx-auto">
                                    
                                    <p>29.92</p>
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                    </section>
        
                </div>







        
                <label for="carousel3" class="control prev control1"><i class="fa-solid fa-caret-left"></i></label>
        
                <label for="carousel2" class="control next control1"><i class="fa-solid fa-caret-right"></i></label>
        
                <label for="carousel1" class="control prev control2"><i class="fa-solid fa-caret-left"></i></label>
        
                <label for="carousel3" class="control next control2"><i class="fa-solid fa-caret-right"></i></label>
        
                <label for="carousel2" class="control prev control3"><i class="fa-solid fa-caret-left"></i></label>
        
                <label for="carousel1" class="control next control3"><i class="fa-solid fa-caret-right"></i></label>
        
                <ol class="indicators">
                    <li><label for="carousel1" class="carouselDot"><i class="fa-regular fa-circle-dot"></i></label></li>
        
                    <li><label for="carousel2" class="carouselDot"><i class="fa-regular fa-circle-dot"></i></label></li>
        
                    <li><label for="carousel3" class="carouselDot"><i class="fa-regular fa-circle-dot"></i></label></li>
                </ol>
            </div>
        </div>

        
        <!-- Main Route -->
        <div class="grid grid-cols-4 gap-20">
            
            <!-- Limit page number to 12 items -->
            <div *ngFor="let item of filteredItems | slice: skip : skip+limit">
                <div class="relative">
                    <span *ngIf="item.bestSeller" class="px-[5px] bg-yellow-300 rounded-md z-10 absolute">Best Seller</span>
                    <img class="object-contain mx-auto h-[250px]" [src]="item.image"/>
                </div>
                
                <div>
                    <h1 class="h-[50px] overflow-auto mb-2 scrollbar w-[180px] mx-auto">{{item.title}}</h1>
                    <div class="flex justify-between w-1/2 mx-auto">
                        <p>{{item.price | currency}}</p>
                        <button (click)="addtocart(item)">
                            <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" [attr.fill]="fillHeart(item.id) ? 'red': 'transparent'" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>





    <!-- Right nav bar -->
    <div class="w-[180px] h-[85vh] sticky top-14 overflow-scroll scrollbar">

        <div class="bg-[#F8C8DC] py-2 text-center"><h3>Special</h3></div>
        
        <div class="p-4" *ngFor="let specials of special">
            <div>
                <img class="mb-2" [src]="specials.image">
            </div>
    
            <div class="mb-4">
                <h4 class="mb-2">{{specials.title}}</h4>

                <div class="flex justify-between">
                    <p class="mb-2">{{specials.price}}</p>    
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                          </svg>
                    </button>
                </div>
                <!-- <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>   -->
            </div>
            
        </div>
    
        
    </div>
</main>


<!-- Make page number dynamic -->
<div class="mt-12 bg-[#F8C8DC] w-[80%] mx-auto">
    <ul class="flex gap-8 mx-auto justify-center">
        <li *ngFor="let page of pages;let i=index"><button (click)="changePage(i+1)">{{i+1}}</button></li>
    </ul>
</div>

<app-footer class="absolute w-[100%] mt-20"></app-footer>